<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;v=3">
</script>

<!-- build:js assets/js/app.min.js -->
<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>

<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/waypoints.js"></script>
<script src="assets/js/jquery.fittext.js"></script>
<script src="assets/js/magnific-popup.js"></script>

<!-- Necessary for skills graphs from Articulate -->
<script src="assets/js/jquery.nav.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>

<script src="assets/js/app.js"></script>
<!-- /build -->
<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<!-- used for live reload -->
<!-- <script src="//localhost:9091"></script> -->
