
  <!-- Skills Section -->
  <section id="skills">

    <!-- Skills -->
    <div class="row skills">
      <div class="three columns header-col">
        <h1>
          <span>Skills</span>
        </h1>
      </div>
      <div class="nine columns main-col">
        <div class="row item">
          <div class="twelve columns">
            <div class="three columns">
              <span class="chart" data-percent="95">
                <span class="percent"></span>
                <h3>Photoshop</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="60">
                <span class="percent"></span>
                <h3>Illustrator</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="75">
                <span class="percent"></span>
                <h3>HTML</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="80">
                <span class="percent"></span>
                <h3>CSS</h3>
              </span>
            </div>
          </div>
        </div>
        <!-- item end -->
      </div>
      <!-- main-col end -->
    </div>
    <!-- End skills -->


    <div class="row skills-last">
      <div class="three columns header-col">
        <!-- <h1>
          <span>Skills</span>
        </h1> -->
      </div>
      <div class="nine columns main-col">
        <div class="row item">
          <div class="twelve columns">
            <div class="three columns">
              <span class="chart" data-percent="95">
                <span class="percent"></span>
                <h3>Photoshop</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="60">
                <span class="percent"></span>
                <h3>Illustrator</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="75">
                <span class="percent"></span>
                <h3>HTML</h3>
              </span>
            </div>
            <div class="three columns">
              <span class="chart" data-percent="80">
                <span class="percent"></span>
                <h3>CSS</h3>
              </span>
            </div>
          </div>
        </div>
        <!-- item end -->
      </div>
      <!-- main-col end -->
    </div>
    <!-- End skills -->

  </section>
  <!-- End of Skills Section -->
