<!-- build:css assets/css/style.min.css -->
<link rel="stylesheet" href="assets/css/libre-baskerville.css">
<link rel="stylesheet" href="assets/css/open-sans.css">
<link rel="stylesheet" href="assets/css/fontello.css">
<link rel="stylesheet" href="assets/css/font-awesome.css">
<link rel="stylesheet" href="assets/css/media-queries.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/default.css">
<link rel="stylesheet" href="assets/css/layout.css">
<!-- /build -->
