<!-- About Section -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="assets/images/head_shot.jpg" alt="{{author}}' head shot" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            {{{intro.aboutMe}}}

            <p id="show-more-about-me">Show More</p>

            <div id="more-about-me">
                {{{intro.moreAboutMe}}}
            </div>

            {{{intro.hobbies}}}

            <p>I developed a graphical resume so that you can quickly see the scope of my career. Please download it and take a look.</p>

            <div class="row">

                <div class="columns download">
                    <p>
                        <a href="assets/files/graphical_resume.pdf" class="button"><i class="fa fa-download"></i>Download Graphical Resume</a>
                    </p>
                </div>

                <div class="columns download">
                    <p>
                        <a href="print/index.html" class="button"><i class="fa fa-print"></i>Print This Resume</a>
                    </p>
                </div>

            </div>
            <!-- end row -->

        </div>
        <!-- end .main-col -->

    </div>

</section>
<!-- About Section End-->
