<!-- About Section -->
<section id="about">

  <div class="row">

    <div class="three columns">

      <img class="profile-pic" src="assets/images/head_shot.jpg" alt="{{author}}' head shot" />

    </div>

    <div class="nine columns main-col">

      <h2>About Me</h2>

      {{{intro.aboutMe}}}
      
      <p>I developed a graphical resume so that you can quickly see the scope of my career. Please download it and take a look.</p>

      <div class="row">

        <!-- <div class="columns contact-details">

            <h2>Contact Details</h2>
            <p class="address">
              <span>H. Alan Stevens</span>
              <br>
              <span>
                101 Westwood Road
                <br> Suite 212
                <br/> Knoxville, TN 37919
              </span>
              <br>
              <span>865-748-4074</span>
              <br>
              <span>jobs@alanstevens.io</span>
            </p>

          </div> -->

        <div class="columns download">
          <p>
            <a href="assets/files/graphical_resume.pdf" class="button"><i class="fa fa-download"></i>Graphical Resume</a>
          </p>
        </div>
        <div class="columns download">
          <p>
            <a href="print/index.html" class="button"><i class="fa fa-print"></i>This Resume</a>
          </p>
        </div>

      </div>
      <!-- end row -->

    </div>
    <!-- end .main-col -->

  </div>

</section>
<!-- About Section End-->
