<section id="work">
  <!-- Work -->
  <div class="row work">
    <!-- title hearder -->
    <div class="three columns header-col">
        <span><h1>Professional<br> Experience</h1></span>
    </div>
    <!-- end title hearder -->
    <div class="nine columns main-col">
      <!-- =============================== Start of Professional Experience ================================   -->
      {{#each data}}
        <div class="experience-wrapper">
          {{> experience-item data=this}}
        </div>
      {{/each}}
      <!-- ================================= End of Professional Experience ================================   -->
    </div>
    <!-- main-col end -->
  </div>
  <!-- End Row Work -->
</section>
<!-- end of section work -->
