<footer>

  <div class="row">

    <div class="twelve columns">
      <p>
        View the source for this document on
        <a href="https://github.com/alanstevens/resume"><span class="mega-octicon octicon-logo-github"></span></a>.
      </p>
    </div>
    <div class="twelve columns">

      <ul class="social-links">

        {{#each socialIcons}}
          {{> social-item data=this}}
        {{/each}}

      </ul>

      <!-- vim note here -->
      <p>
          Made with <i class="fa fa-heart"></i> using <img id="Code" width="36" height="36" title="Visual Studio Code" alt="Visual Studio Code" src="assets/images/Visual_Studio_Code_1.35_icon.svg">
      </p>

      <ul class="copyright">
        <li>&copy;&nbsp;Copyright&nbsp;
          <span id="year"></span>&nbsp;{{author}}</li>
      </ul>

    </div>

    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

  </div>

</footer>
