<nav id="nav-wrap">

  <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
  <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

  <ul id="nav" class="nav">
    <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
    <li><a class="smoothscroll" href="#about">About</a></li>
    <li id="skills-menu-item"><a class="smoothscroll" href="#skills">skills</a></li>
    <li><a class="smoothscroll" href="#work">Experience</a></li>
    <li><a class="smoothscroll" href="#education">Education</a></li>
    <!-- <li><a class="smoothscroll" href="#portfolio">Works</a></li> -->
    <!-- <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li> -->
    <li><a class="smoothscroll" href="#quotes">Quotes</a></li>
    <li><a class="smoothscroll" href="#map">Contact</a></li>
    <!-- <li><a class="smoothscroll" href="#contact">Contact</a></li> -->
    <li><a href="./print/index.html">Print</a></li>
  </ul>
  <!-- end #nav -->

</nav>
<!-- end #nav-wrap -->
