<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;v=3"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<!-- build:js assets/js/app.min.js -->
<script src="assets/js/jquery.flexslider-2.6.0.js"></script>
<script src="assets/js/jquery.waypoints-4.0.0.js"></script>
<script src="assets/js/waypoints.inview-4.0.0.js"></script>
<script src="assets/js/jquery.fittext-1.2.js"></script>
<script src="assets/js/jquery.magnific-popup-1.0.1.js"></script>
<!-- Necessary for skills graphs from Articulate -->
<script src="assets/js/jquery.nav-3.0.0.js"></script>
<script src="assets/js/jquery.sticky-1.0.3.js"></script>
<script src="assets/js/jquery.easypiechart-2.1.7.js"></script>
<script src="assets/js/jquery.html5-placeholder-shim.js"></script>
<script src="assets/js/app.js"></script>
<!-- /build -->
<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
